clientId="<Azure AD application (client) ID>"
tenantId="<Azure AD tenant ID>"
clientSecret="<Azure AD client secret>"
secret="<any random string, used to sign session cookies>"
mongoUri="mongodb+srv://<username>:<password>@<cluster-host>/<database>?retryWrites=true&w=majority"
